@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

nav {
    border-bottom: 1px solid teal;
    padding: 16px;
    background-color: salmon;
}

nav a{
    color: navy;
}

main {
    padding: 16px;
    margin: auto 0;
}

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

img {
    height: 200px;
}

table, th, td {
    border: 1px solid;
    width: 25%;
    text-align: center;
}

th {
    background-color: lightblue;
}

tr:nth-child(even) {background-color: #f2f2f2;}

footer p{
    position: static;
    background: teal;
    color: navy;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 16px;
}
